/* Par convention */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body, html {
    padding: 0px;
    margin: 0px;
}

/* Le header */

header {
    display: flex;
    justify-content: space-between;
    background-color: blue;
    color: white;
    padding: 15px;
    font-size: 18px;
    margin-bottom: 50px;
    z-index: 999; /* Place l'élément au-dessus des autres */
    position: sticky; /* Rend l'élément fixe en haut de la page lors du défilement */
    top: 0; /* Positionne l'élément en haut */
    left: 0; /* Positionne l'élément à gauche */
}
.logo_site img {
    width: 100px;
    height: 80px;
}
.nav_bar nav ul,
.nav_bar nav li {
    display: flex;
    justify-content: space-between;
}
.nav_bar nav a {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    margin-left: 50px;
    margin-top: 25px;
    color: white;
}
.nav_bar nav a:hover {
    color: black;
    cursor: pointer;
    transition: 0.9s;
}

/* Le body */

/* GENERAL */ 

.Image_presentation {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    margin-bottom: 20px;
}
.Image_presentation p {
    margin: 15px;
}
.Image_presentation .Image_presentation_1,
.Image_presentation .Image_presentation_3,
.Image_presentation .Image_presentation_2 {
    display: flex;
    justify-content: space-between;
    text-align: justify;
}

/* PRESENTATION 1 & 3 */

.Image_presentation .Image_presentation_1 img,
.Image_presentation .Image_presentation_3 img {
    width: 400px;
    height: 400px;
    margin-left: 200px;
    border-radius: 8px 0px 8px 0px;
    box-shadow: -15px -10px 15px black;
}
.Image_presentation .Image_presentation_1 img:hover,
.Image_presentation .Image_presentation_3 img:hover {
    transform: scaleX(1.2);
    transition: 1s;
    box-shadow: 15px 10px 10px black;
    border-radius: 0px 10px 0px 10px;
}
.Image_presentation .Image_presentation_1 p,
.Image_presentation .Image_presentation_3 p {
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 120px;
}

/* PRESENTATION 2 */

.Image_presentation .Image_presentation_2 img{
    width: 400px;
    height: 400px;
    margin-right: 200px;
    border-radius: 0px 8px 0px 8px;
    box-shadow: 15px -10px 15px black;
}
.Image_presentation .Image_presentation_2 img:hover {
    transform: scaleX(1.2);
    transition: 1s;
    box-shadow: -15px 15px 10px black;
    border-radius: 10px 0px 10px 0px;
}
.Image_presentation .Image_presentation_2 p {
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 120px;
}

/* Footer */

footer {
    background-color: blue;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
footer li {
    margin: 15px;
}