/* Par convention */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body, html {
  padding: 0px;
  margin: 0px;
  scroll-behavior: smooth;
}

/* Le header */

header {
  display: flex;
  justify-content: space-between;
  background-color: blue;
  color: white;
  padding: 15px;
  font-size: 18px;
  margin-bottom: 0px;
  z-index: 999; /* Place l'élément au-dessus des autres */
  position: sticky; /* Rend l'élément fixe en haut de la page lors du défilement */
  top: 0; /* Positionne l'élément en haut */
  left: 0; /* Positionne l'élément à gauche */
}
.logo_site img {
  width: 100px;
  height: 80px;
}
.nav_bar nav ul,
.nav_bar nav li {
  display: flex;
  justify-content: space-between;
}
.nav_bar nav a {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  margin-left: 50px;
  margin-top: 25px;
  color: white;
}
.nav_bar nav a:hover {
  color: black;
  cursor: pointer;
  transition: 0.9s;
}

/* BODY */

.modal-overlay {
  display: none; /* Modale cachée par défaut */
  position: fixed; /* Position fixe */
  top: 0; /* Position en haut */
  left: 0; /* Position à gauche */
  width: 100%; /* Largeur de 100% */
  height: 100%; /* Hauteur de 100% */
  background: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
  z-index: 30; /* Niveau z de 30 */
}

/*cart*/

#cart {
  overflow: auto; /* Ajoute une barre de défilement si le contenu dépasse les dimensions du conteneur */
}
#cart table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  white-space: nowrap;
}
#cart table img {
  width: 100px;
}

#cart table td:nth-child(1) {
  width: 100px; /* Définit la largeur de la première colonne à 100px */
  text-align: center; /* Centre le texte dans la première colonne */
}
#cart table td:nth-child(1) i:hover {
  color: red; /* Change la couleur du texte au survol dans la première colonne à rouge */
}
#cart table td:nth-child(2) {
  width: 150px; /* Définit la largeur de la deuxième colonne à 150px */
  text-align: center; /* Centre le texte dans la deuxième colonne */
}
#cart table td:nth-child(3) {
  width: 250px; /* Définit la largeur de la troisième colonne à 250px */
  text-align: center; /* Centre le texte dans la troisième colonne */
}
#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6) {
  width: 150px; /* Définit la largeur des quatrième, cinquième et sixième colonnes à 150px */
  text-align: center; /* Centre le texte dans ces colonnes */
}
#cart table td:nth-child(5) input {
  width: 70px; /* Définit la largeur des champs de saisie dans la cinquième colonne à 70px */
  padding: 10px 5px 10px 15px; /* Ajoute un padding interne aux champs de saisie */
}
#cart table thead {
  border: 1px solid #e2e9e1; /* Ajoute une bordure de 1px autour de l'en-tête de la table */
  border-left: none; /* Supprime la bordure gauche de l'en-tête de la table */
  border-right: none; /* Supprime la bordure droite de l'en-tête de la table */
}
#cart table thead td {
  font-weight: 700; /* Définit le poids de la police à 700 (gras) */
  text-transform: uppercase; /* Transforme le texte en majuscules */
  font-size: 13px; /* Définit la taille de la police à 13px */
  padding: 18px 0; /* Ajoute un padding de 18px en haut et en bas */
}
#cart table tbody tr td {
  padding-top: 15px; /* Ajoute un padding de 15px en haut des cellules du corps de la table */
  }
#cart table tbody tr td i {
  color: #041e42; /* Définit la couleur des icônes dans le corps de la table */
}
#cart table tbody tr td i:hover {
  cursor: pointer; /* Change le curseur en pointeur (main) au survol des icônes dans le corps de la table */
  }
#cart table tbody td {
  font-size: 13px; /* Définit la taille de la police à 13px pour les cellules du corps de la table */
}

/* #Payement */

.payement {
  margin: 80px;
  border: 2px solid black;
  padding: 20px;
  width: fit-content; /* Exatemennt la taille des élément qu'il contient */
}
.payement button {
  height: 40px;
  color: black;
  background: darkgray;
  border-radius: 3px;
  border: none;
  text-align: center;
  font-weight: 800;
  width: fit-content; /* Exatemennt la taille des élément qu'il contient */
  padding-left: 10px;
  padding-right: 10px;
}
.payement button:hover {
  transition: 1s;
  border-radius: 8px;
  transform: scale(1.2);
  background: rgb(32, 32, 150);
  color: white;
  cursor: pointer;
}
.payement td {
  padding: 10px;
}

/* Styles pour la modale */

.modal {
  position: fixed;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%); /* Centrage */
  z-index: 999;
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 40%;
}
.modal input {
  padding: 10px;
  border-radius: 10px;
}

/* Styles pour le corps lorsque la modale est ouverte */

body.modal-open {
  overflow: hidden; /* Empêche le défilement */
}

/* Styles pour le formulaire d'achat */

#Formulaire_achat {
  display: none; /* Formulaire caché par défaut */
  border: 2px solid rgb(32, 32, 150);
  border-radius: 10px;
  padding: 20px;
  margin-left: 30%;
  margin-right: 20%;
  margin-bottom: 50px; 
}
.formulaire_titre_sortie {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 35px;
  position: relative;
}
.formulaire_titre_sortie h1 {
  margin-bottom: 15px;
  margin-left: 15px;
}

/* Styles pour le bouton de fermeture du formulaire */

.formulaire_titre_sortie button {
  background-color: red;
  color: white;
  padding: 15px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
}

/* Changement de couleur et forme au survol du bouton de fermeture */

.formulaire_titre_sortie button:hover {
  transition: 1s;
  background-color: black;
  color: red;
  border-radius: 50%; 
  cursor: pointer;
}

/* Styles pour les informations du formulaire */

.formulaire_infos {
  display: flex;
  flex-direction: column;
}
.formulaire_infos h3 {
  margin-bottom: 15px;
}
.formulaire_infos input {
  border: 1px solid black;
  margin-bottom: 10px;
  padding: 10px;
}
.formulaire_infos input:hover {
  border-radius: 5px;
}
.formulaire_infos .formulaire_nom_complet_input {
  display: flex;
  flex-direction: column;
}  
.formulaire_autres {
  display: flex; 
  flex-direction: column;
}
.formulaire_autres h3 {
  margin-bottom: 15px;
}  
.formulaire_autres input {
  border: 1px solid black;
  margin-bottom: 10px;
}

/* Styles pour le bouton de soumission des autres informations */

.formulaire_autres_btn button {
  background-color: darkgrey;
  color: black;
  margin-left: 40%;
  padding: 10px;
  border: none;
  border-radius: 5px;
}
.formulaire_autres_btn button:hover {
  transition: 1s;
  border-radius: 50px;
  background-color: rgb(32, 32, 150);
  color: white;
  transform: scale(1.2);
}

/* Styles pour les messages d'erreur */

#message_erreur {
  display: none;
  color: red;
  font-size: 15px;
  text-shadow: -1px 1px 1px red;
}

/* Footer */

footer {
  background-color: blue;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
footer li {
  margin: 15px;
}
